@model IEnumerable<BookModel>

    @Html.ActionLink("Create New Book", "Create", "Books")
@{
    string title = "Books";
    ViewData["Title"] = title;
}


@if (TempData["Message"] is not null){
    if (TempData["Message"].ToString().EndsWith("!"))
    {
        <p class="text-danger">@TempData["Message"]</p>
    }
    else
    {
        <p class="text-success">@TempData["Message"]</p>
    }
}
<table class="display" style="width:100%" id="datatable">
    <tr>
		<th>
			@Html.DisplayNameFor(model => model.WriterNameDisplay)
		</th>
		<th>
			@*Name*@
			@Html.DisplayNameFor(model => model.Name)
		</th>		
		<th>
			@*Category*@
			@Html.DisplayNameFor(model => model.CategoryNameDisplay)
		</th>
		<th style="width:12%">
			@Html.DisplayNameFor(model => model.ImgSrcDisplay)
		</th>
		<th></th>

    </tr>
	@foreach (var book in Model)
	{
			<tr>
				<td>
					@Html.DisplayFor(model => book.WriterNameDisplay)
				</td>
				<td>
				
				@Html.DisplayFor(model => book.Name)
				</td>
				
				<td>
				
				@Html.DisplayFor(model => book.CategoryNameDisplay)
				</td>

				<td>
                        @if ( book.ImgSrcDisplay is not null)
                    {
                        <img src="@book.ImgSrcDisplay" class="img-thumbnail" />
                    }
                    </td>
			<td>
				<a asp-action="Details" asp-route-id="@book.Id">Details</a>

				@*@Html.ActionLink("Edit", "Edit", new { id = product.Id })*@
				<a asp-action="Edit" asp-route-id="@book.Id">Edit</a>

				<a asp-action="Delete" asp-route-id="@book.Id">Delete</a>
				@*<a href="#" onclick="deleteProduct(@book.Id);">Delete</a>*@
			</td>
			</tr>
			
	}
</table>
@section Scripts{
	<link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
	<script src="~/lib/datatables/js/jquery.datatables.min.js"></script>

	<link href="~/lib/alertifyjs/css/alertify.min.css" rel="stylesheet" />
	<script src="~/lib/alertifyjs/alertify.min.js"></script>
	<script>
		//$(document).ready(function(){
		$(function () {
			$('#datatable').DataTable({
				language: {
					//url: "/json/datatablesTurkish.json"
				}
			});


		});
		function deleteProduct(id) {
			alertify.confirm(
				"Warning!",
				"Are you sure want to delete this Book?",
				function () { //ok
					window.location.href = "/Books/Delete/" + id;
				},
				function () {
					//alertify.error("Delete canceled");
				}
			).set('labels', { ok: "Yes", cancel: 'No' });

		}
	</script>
}